body.mdl-base {
  background-color: white !important;
}

.mdl-layout {
    background: none !important;
}

main > section {
  max-width: 1080px;
}

h2 {
  margin-bottom: 10px;
}

.random-recipe {
  width: 24px;
  position: absolute;
  top: 18px;
  right: 25px;
}

.description {
  margin-top: 16px;
}

.mdl-layout-title {
  display: inline;
}

.mdl-layout-title > a, .random-recipe a {
  text-decoration: none;
  color: inherit;
}

.mdl-layout__drawer-button > i {
  margin-top: 4px;
}

.mdl-navigation.mdl-navigation .mdl-navigation__link {
  padding: 10px 40px;
}

.mdl-navigation.mdl-navigation {
  padding-bottom: 25px;
}

.mdl-navigation__link.is-current {
  background-color: #e0e0e0;
}

#searchForm {
  padding: 0px 16px;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0px;
}

#ingredients-heading {
  margin-bottom: 12px;
}

#ingredient-tools {
  margin-left: 1.5rem;
  overflow: auto;
}

#ingredient-tools #copy {
  cursor: pointer;
}

#ingredient-tools span {
  float: left;
  margin: 2px;
}

#ingredient-tools span.scaler {
  margin-top: 4px;
}

#ingredient-tools .trailing-icons span {
  margin: 2px 0px;
}

#ingredient-tools a {
  color: inherit;
  text-decoration: inherit;
}

#ingredient-tools .scaler a {
  border: 2px solid rgb(97, 97, 97);
  border-radius: 4px;
  padding: 2px;
  font-weight: bold;
}

#ingredient-tools .scaler a.is-current {
  background: rgb(97, 97, 97);
  color: white;
}

.wakelock-unsupported {
  display: none;
}

#wakelock:hover {
  cursor: pointer;
}

div#ingredients span {
  padding: 0.2em;
}

div#ingredients span.scaled {
  background-color: rgba(255, 255, 0, 0.2);
}

footer {
  margin-top: .5rem;
  text-align: center;
}

footer a:not(:hover) {
  color: grey;
}

@media (min-width: 1025px) {
  section.mdl-grid {
    padding-left: 20px;
  }
}
