main {
  background-color: white;
}

main > section {
  max-width: 1080px;
}

.mdl-layout-title > a {
  text-decoration: none;
  color: inherit;
}

.mdl-layout__drawer-button > i {
  margin-top: 4px;
}

.mdl-navigation.mdl-navigation .mdl-navigation__link {
  padding: 10px 40px;
}

.mdl-navigation.mdl-navigation {
  padding-bottom: 25px;
}

.mdl-navigation__link.is-current {
  background-color: #e0e0e0;
}

#searchForm {
  padding: 0px 16px;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0px;
}

#fork-me {
  display: none;
}

@media (min-width: 1025px) {
  #fork-me {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }

  section.mdl-grid {
    padding-left: 20px;
  }
}
