$def with ()
$var pageName : Home
<h2>Recibase</h2>

<p>Welcome! Welcome to Recibase!</p>

<p>You have chosen, or been chosen, to navigate to one of our finest remaining recipe collections. I thought so much of Recibase that I elected to establish my administration here, on the webserver so thoughtfully provided by our benefactors.</p>

<p>I've been proud to call Recibase my home. And so, whether you are here to stay, or passing through on your way to sites unknown - welcome to Recibase. It's safer here.</p>
