$def with (content)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>$:content.pageName • Recibase</title>

  <meta name="author" content="The Silverwood Institute">

  $if 'pageDescription' in content and content.pageDescription:
    <meta name="description" content="$:content.pageDescription">
    <meta property="og:description" content="$:content.pageDescription">
  $else:
    <meta name="description" content="Kit and Alex's curated recipe collection. Mostly vegetarian, all delicious">
    <meta property="og:description" content="Kit and Alex's curated recipe collection. Mostly vegetarian, all delicious">

  $if 'imageSrc' in content and content.imageSrc:
    <meta name="twitter:card" content="summary_large_image">
  $else:
    <meta name="twitter:card" content="summary">

  <meta name="twitter:site" content="@kittsville">
  <meta property="og:title" content="$:content.pageName">
  <meta property="og:site_name" content="Recibase">
  <meta property="og:type" content="website">

  $if 'pagePath' in content:
    <meta property="og:url" content="https://reciba.se/$content.pagePath">

  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-deep_purple.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="/static/styles.css?v=$frontendVersion" />
  <script defer src="/static/search.js?v=$frontendVersion"></script>
  <script defer src="/static/copy.js?v=$frontendVersion"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  $if 'imageSrc' in content and content.imageSrc:
    <meta property="og:image" content="$content.imageSrc">
  $if 'imageWidth' in content and content.imageWidth:
    <meta property="og:image:width" content="$content.imageWidth">
  $if 'imageHeight' in content and content.imageHeight:
    <meta property="og:image:height" content="$content.imageHeight">
</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a href="/">Recibase</a>
    </span>
    <span class="material-icons random-recipe">
      <a href="/random">
        shuffle
      </a>
    </span>
    <form id="searchForm">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="search" autocomplete="off" disabled>
        <label class="mdl-textfield__label" for="search">Search...</label>
      </div>
    </form>
    <nav class="mdl-navigation">
      $if 'recipeUrl' in content:
        $ recipeUrl = content.recipeUrl
      $else:
        $ recipeUrl = ''
      $for listItem in fetchRecipeList():
        $code:
          if listItem['permalink'] == recipeUrl:
            itemClass = 'is-current'
          else:
            itemClass = ''
        <a class="mdl-navigation__link $itemClass" href="$listItem['permalink']">$:listItem['name']</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="section--center mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        $:content
      </div>
    </section>
  </main>
  <footer>
    v<a href="https://github.com/The-Silverwood-Institute/Recibase/commit/$fetchApiVersion()">$fetchApiVersion()[:6]</a>.<a href="https://github.com/The-Silverwood-Institute/Frontend/commit/$frontendVersion">$frontendVersion[:6]</a>
    | <a href="https://github.com/The-Silverwood-Institute/Recibase">Source Code</a>
    | <a href="https://c.reciba.se/">Meal Planner</a>
  </footer>
</div>
<body>
