$def with (recipe)
$var pageName: $recipe['name']
$var pageDescription: $recipe['description']
$var pagePath: $recipe['url']
$code:
  def getImageProperty(prop):
    return recipe['image'][prop] if recipe['image'] else None
$var imageSrc: $getImageProperty('src')
$var imageWidth: $getImageProperty('width')
$var imageHeight: $getImageProperty('height')
<h2>$recipe['name']</h2>
$if recipe['tagline']:
  <em>$recipe['tagline']</em>
$if recipe['description']:
  <p class="description">$recipe['description']</p>
<h3>Ingredients</h3>
<ul>
$for ingredient in recipe['ingredients']:
  $code:
    quantity = (": "  + ingredient['quantity']) if ingredient['quantity'] else ""
    prep = (", " + ingredient['prep']) if ingredient['prep'] else ""
    notes = (" (" + ingredient['notes'] + ")") if ingredient['notes'] else ""
    ingredientText = ingredient['name'] + quantity + prep + notes
  <li>$ingredientText</li>
</ul>
<h3>Method</h3>
<ol>
$for step in recipe['method']:
  <li>$step</li>
</ol>
$if recipe['notes']:
  <h3>Notes</h3>
    $code:
      notes = filter(lambda note: len(note.strip()) > 0, recipe['notes'].split('\n'))
    $for note in notes:
      <p>$note</p>
