$def with (recipe)
$var pageName: $recipe['name']
$var pageDescription: $recipe['description']
$var pagePath: $recipe['permalink']
$code:
  def getImageProperty(prop):
    return recipe['image'][prop] if recipe['image'] else None
$var imageSrc: $getImageProperty('src')
$var imageWidth: $getImageProperty('width')
$var imageHeight: $getImageProperty('height')
$var recipeUrl: $recipe['permalink']
<h2>$recipe['name']</h2>
$if recipe['tagline']:
  <em>$recipe['tagline']</em>
$if recipe['description']:
  <p class="description">$recipe['description']</p>
<h3 id="ingredients">Ingredients</h3>
<div id="ingredient-tools">
  <span><a href="?scale=.5">&frac12;</a></span>
  <span><a href="?scale=1">1X</a></span>
  <span><a href="?scale=2">2X</a></span>
  <span><a href="?scale=3">3X</a></span>
</div>
<ul class="ingredients">
$for ingredient in recipe['ingredients']:
  $code:
    quantity = (": "  + ingredient['quantity']) if ingredient['quantity'] else ""
    prep = (", " + ingredient['prep']) if ingredient['prep'] else ""
    notes = (" (" + ingredient['notes'] + ")") if ingredient['notes'] else ""
    ingredientText = ingredient['name'] + quantity + prep + notes
    is_scaled = 'scaled' if 'scaled' in ingredient and ingredient['scaled'] == True else ''
  <li><span class="$is_scaled">$ingredientText</span></li>
</ul>
<h3>Method</h3>
<ol>
$for step in recipe['method']:
  <li>$step</li>
</ol>
$if recipe['notes']:
  <h3>Notes</h3>
    $code:
      notes = filter(lambda note: len(note.strip()) > 0, recipe['notes'].split('\n'))
    $for note in notes:
      <p>$:note</p>
